body {
    font-size: small;   /* 直接用字号 */
    background: #fff;
    color: #222;
    font-family: arial, sans-serif;
    height: 100%;
    margin: 0;
}

div#viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
}

.ctr-p {
    margin: 0 auto;
    min-width: 1139px;
}

#hd {
    top: 16px;
    font-size: 13px;
    position: relative;
}



#headleft {
    /* vertical | horizontal */
    /* top | right | bottom | left */


    margin: 7px 0 0 10px;
    position: absolute;

    /* over the head right layer div */
    z-index: 1000;
}

#headleft a {
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}

/*z-index 一般10 100 1000 10000*/

.headright {
    min-width: 220px;
    padding-left: 30px;
    padding-right: 30px;

    align-items: center;    /* Pack items around the center */
    /* The CSS align-items property sets 
    the align-self value on all direct children as a group. */

    display: flex;
    justify-content: flex-end;

    /* order: 1; */
    /* The order CSS property sets the order to lay out an item in a flex or grid container. */
}

.headright a{
    color: rgba(0,0,0,0.87);
}

/*padding left*/
.head-right-left{
    display: flex;  /* 理解一下这一句 */
    padding-right: 15px;
    /*
    flex: 0 1 auto;
    line-height: normal;
    margin-left: 0!important;
    margin-right: 0!important;
    text-align: right;
    */
}

.head-right-left-elements{
    padding-left: 15px;
    display: inline-block;

    /*vertical-align: middle;*/
    /*flex: 0 0 auto;*/
    /*line-height: normal;*/
    /*text-align: right;*/
}

/* 一般都不需要 > 效率问题 可读性 */
.head-right-left-elements>a {
    /* display: inline-block; */
    line-height: 24px;
    /*vertical-align: middle;*/
}

.head-right-right{
    min-width: 114px;
    display: flex;
    flex: 0 1 auto;
    /* 
    It shrinks to its minimum size to fit the container, 
    but does not grow to absorb any extra free space in the flex container.
    */
}

.head-right-sign-in {
    display: inline-block;
    padding: 0 0 0 15px;
    /*flex: 0 0 auto;*/
}

.head-right-google-apps {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#sign-in {
    cursor: default;
    color: #fff;

    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;

    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
}

#sign-in:hover {
    text-decoration: none;
}

#footbar {
    bottom: 0;
    width: 100%;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;

    display: flex;
    justify-content: space-between;
    
    background-color: #f2f2f2;

    /* control the line-height of the span */
    line-height: 40px;
    position: fixed;
    font-size: 14px;
}

.leftbar {
    display: flex;
    justify-content: start;
    padding-left: 3px;
}

.rightbar {
    display: flex;
    justify-content: end;
    
    /* 这个google是怎么解决的 */
    padding-right: 30px;
}

.Fx4vi {
    padding-left: 27px;
    /* important特别少 */
    /* margin: 0 !important; */
}

#footbar a {
    color: #5f6368;
}

/* 
The :visited CSS pseudo-class represents links 
that the user has already visited. 
*/
a:visited{
    color: rgba(0,0,0,0.87);
}

/*
The :any-link CSS pseudo-class selector represents an element 
that acts as the source anchor of a hyperlink, 
independent of whether it has been visited.
*/
a:-webkit-any-link {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#searchform {
    position: absolute;
    top: 311px;
    width: 100%;
    min-width: 980px;
    margin-top: 0; 

    /* z-index: 127; */
}


#submit-form {
    margin: 0 auto;
    width: 833px;
    /* max-width: none; */
}

#search-bar-wrap1 {
    /* position: relative; */
    margin: 0 auto;
    padding-top: 6px;
    width: 584px;

    /* border: 1px solid black; */
}

#search-bar-wrap2 {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;

    /* border: 1px solid green; */
}

#search-bar-wrap3 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;

    /* border: 1px solid blue; */
}

#search-bar-wrap4 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

#pr49ae {
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;

    color: transparent;
    flex: 100%;
    white-space: pre;
}

.searchtext {

    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

#left-icon-wrap {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.left-icon {
    margin: auto;
}

.left-icon>span {
    display: inline-block;
    line-height: 24px;
    /* position: relative; */

    margin-top: 3px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;
}

.left-icon>span>svg {
    display: block;
    height: 100%;
    width: 100%;
}

#right-icon-wrap {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.right-icon {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.right-icon>svg {
    height: 24px;
    width: 24px;
    /* display: table-cell 的时候vertical-align才有用 */
    vertical-align: middle;
}

.submitbar {
    padding-top: 18px;
    height: 70px;
    width: 571px;
}

.submitbar input[type="submit"] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.submitbar input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.main-image-container {
    height: 233px;
    margin-top: 89px;
}


.main-image-wrap {
    cursor: pointer;
    height: 200px;

    width: 500px;

    /* centering the image horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}   

